scikit-learn==0.24.1
click
pandas
numpy
hypothesis==6.10.0
fastapi==0.63.0
attrs
click
cloudpickle
importlib-metadata
iniconfig
joblib
marshmallow
marshmallow-dataclass
mypy-extensions
pluggy
pydantic
pyparsing
PyYAML
scipy
sortedcontainers
threadpoolctl
zipp
